$black: #1d1d1d;
$darkBlue:#0e5f88;
$lightBlue:#8ecceb;
$whiteish:#efeeee;
$darkGrey:#5d5e5d;
$regularGrey:#d2d7d8;
$lightGrey:#e6e2e2;
$greyBackground:#f1f3f3;
$largeNumber:rgba(229, 227, 227, 0.5);
$iconGrey:#848484;